.card {
    padding: 10px;
    border: 1px solid black;
    flex-basis: 20%;
    /* max-width: max-content; */
    margin: 10px;
}

body {
    background-color: #1F3B20;
    font-family: CothamSans;
}