.room--header {
    display: flex;
    align-items: baseline;
} 

.roomList {
    display: flex;
    flex-direction: column;
}

.roomPlantList {
    display: flex;
    flex-wrap: wrap;
}

.edit--icon {
    height: 1em;
}