.plant--detailCard{
    display: flex;
    flex-direction: column;
    max-width: max-content;
    
}

.plantList{
    display: flex;
    flex-wrap: wrap;
}

.header--buttons {
    display: flex;
    align-items: baseline;
}

.btns {
    display: flex;
    margin-left: 15px;
}

.icon {
    max-height: 60%;
    margin: 0 4px 0 4px;
    
}

.plant--img {
    width: 100%;
}

.plant--name a{
    color: black;
}

.plant--img--detail {
    width: 40%;
}

.image--upload {
    display: flex !important;
    flex-direction: column-reverse !important;
    align-items: center !important;
}

.icon:hover {
    cursor: pointer;
    animation: rotate forwards .5s ;
    transition-delay: .2s
    
}

.plant--form {
    border-radius: 16px;
    border: 1px solid #bbb;
    display: flex;
    flex-direction: column;
    padding: 0 10% 1% 10%;
    margin: 0 10%;
}

.plant-form-pair {
    display: flex;
    justify-content: space-evenly;
  
}

.form-control-type2 {
    margin-bottom: 2%;
}

fieldset {
    width: 100%
}

.form-control-type1 {
    width: 100%;
    margin-bottom: 2%;
}
@keyframes rotate{
    0% {
      transform: rotateZ(25deg);
    }
    25% {
      transform: rotateZ(-25deg);
     
    }
    50% {transform: rotateZ(25deg);
      }

    100% {transform: rotateZ(0deg);
    }
  }
  
  