.plant--detailCard{
    display: flex;
    flex-direction: column;
    max-width: max-content;
    
}

.plantList{
    display: flex;
    flex-wrap: wrap;
}

.header--buttons {
    display: flex;
    align-items: baseline;
}

.btns {
    display: flex;
    margin-left: 15px;
}

.icon {
    max-height: 60%;
    margin: 0 4px 0 4px;
    
}

.icon:hover {
    cursor: pointer;
    animation: App-logo-spin infinite .2s linear;
    
}

@keyframes App-logo-spin {
    from {
      transform: rotate(-10deg);
    }
    to {
      transform: rotate(10deg);
    }
    
  
  }
  