.plant--container{
    display: flex;
    flex-direction: column;
    margin: 3% 6%;
}

.todayList {
    display: flex;
    flex-wrap: wrap;
}

.checkbox {
    display: flex;
    justify-content: flex-end;
    color: #1F3B20;
    font-weight: 100;
}


.completed {
    text-decoration: line-through;
    background-color: rgb(228, 228, 228);
    font-style: italic;
}

.completed-img {
    opacity: 70%;
}

.plant--watered--on {
    margin-block-end: .5em
}

 .plant--watered--on h4{
    margin-block-start: 0 !important;
    margin-block-end: .25em !important;
}

.content--header {
    color:#1F3B20;
    font-size: 2.3em;
    font-weight: 300;
    padding-bottom: .7em;
}

.sub--header {
    color: #1F3B20;
    letter-spacing: .06em;
    font-size: .9em;
}