.container--login {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.form--login{
  width: 100% !important ;
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
}

.login {
    padding: 3em 3em;
    border: 1px solid #efefef;
    background-color: white;
    width: 30%;
    margin: 3em;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.register--login {
  padding: 3em 3em;
  border: 1px solid #efefef;
  background-color: white;
  width: 50%;
  margin: 3em;
  text-align: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.loginLabel {
    margin-top: .5em;
    margin-bottom: 1px;
}

.loginfieldset {
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input.loginInput{
  padding: none;
  font-size: 12pt;
  font-weight: 100
}

.link--register {
    margin-top: 1em;
    color: #1F3B20;
    margin-bottom: 1em;
}

.not-a-member {
  font-size: 10pt;
}

.registerInput {
    width: 80%;
}

.header{
  font-family: YoungSerif-Regular;
}

.login--header {
  font-size: 3.5em;
  padding-bottom: .75em;
  color: #1F3B20
}

.login--page--header {
  color: #FBB4B4;
  font-size: 3em;
  margin-bottom: .1em;
}
.login--page--subheader {
  color: #FBB4B4;
  font-size: 1em;
  font-weight: 100;
  letter-spacing: .05em;
  margin-bottom: 2em;
}
.register--header {
  font-size: 30px;
  padding-bottom: 20px;
}

.loginInput{
  width: 100%;
}

.plant1 {
  position: absolute;
  top: 58%;
  left: -8%;
}

.plant2 {
  position: absolute;
  left: 16%;
  top: 75%;
}
.plant3 {
  position: absolute;
  right: 18%;
  top: 64%;
}

.plant4 {
  position: absolute;
  top: 50%;
  right: -3%;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  color: white;
  background-color: #177E1A !important;
  text-align: center;
  font-size: 14px;
  padding: 0 70px;
  font-weight: 600;
  line-height: 10px;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 30px;
  margin: auto;
  border: none;
  cursor: pointer;
  box-sizing: border-box; }

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  background-color: white !important;
  border: 1px solid #177E1A;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }

  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  textarea,
  select {
    height: 38px;
    background-color: #fff;
    border: none;
    border-radius: none;
    border-bottom: 1px solid #828282;
    padding: none;
    box-shadow: none;
    box-sizing: border-box; }
  /* Removes awkward default styles on some inputs for iOS */
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  textarea {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
  textarea {
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px; }
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="text"]:focus,
  input[type="tel"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  textarea:focus,
  select:focus {
    border: 1px solid #33C3F0;
    outline: 0; }
  label,
  legend {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600; }
  fieldset {
    padding: 0;
    border-width: 0; }
  input[type="checkbox"],
  input[type="radio"] {
    display: inline; }
  label > .label-body {
    display: inline-block;
    margin-left: .5rem;
    font-weight: normal; }
  
select {
  /* border-radius: 50px; */
  -webkit-appearance: none;
  -webkit-border-radius: 0px;

}
  @media (max-width: 600px){
    .login--header {
      font-size: 2em;
      
    }

   
  }